$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$primaryColor: #25cbd3;
$primaryColorWithOpacity: #25cbd31f;
$primaryColor3: #3bd42d;
$primaryColor4: #f0f5ff;
$primaryColor5: #a7fae9;

$greyColor: #7c7786;
$greyColor1: #4d4c4d;
$greyColor2: #7c7786;
$greyColor3: #4d4c4d;
$greyColor4: #dadada;
$error: #d44231;

$desktopBreakpoint: 992px;
