@import './configs.scss';

.container-meet-list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid $greyColor4;
  padding: 8px 0;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    .color {
      width: 6px;
      height: 32px;
      border-radius: 12px;
      margin-right: 8px;
    
    }

    span {
      font-weight: 700;
      font-size: 12px;
      line-height: 17px;
      color: $greyColor1;
      word-wrap: break-word;
    }

    img {
      margin-left: 9px;
      cursor: pointer;
    }
  }

}
