@import 'bootstrap/scss/bootstrap.scss';
@import 'configs.scss';

@font-face {
  font-family: $fontRegular;
  src: url('../fonts/BiennaleRegular.otf');
}

@font-face {
  font-family: $fontBold;
  src: url('../fonts/BiennaleBold.otf');
}

@font-face {
  font-family: $fontLight;
  src: url('../fonts/BiennaleLight.otf');
}

* {
  font-family: $fontRegular;
  font-size: 14px;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  padding: 0;
}

input {
  font-size: 16px;
  letter-spacing: 0.01em;
  color: $primaryColor;
  border-radius: 0;
  border: none;
  outline: none;

  &.focus {
    border-color: $primaryColor;
  }

  &::placeholder {
    color: $greyColor2;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    //faz funcionar essa propriedade no internet Explorer
    color: $greyColor2;
  }

  &::-ms-input-placeholder {
    //faz funcionar  essa propriedade no microsoft Edge
    color: $greyColor2;
  }
}

button {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  background-color: $primaryColor;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  padding: 10px;

  @media screen and (min-width: $desktopBreakpoint) {
    background-color: $greyColor;

    &:hover {
      background-color: $primaryColor;
      &.disabled {
        cursor: not-allowed;
        &:hover {
          background-color: $greyColor;
        }
      }
    }
  }
}

.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $primaryColor;

  img {
    border-radius: 50%;
    width: 120px;
    height: 118px;
    object-fit: contain;
  }

  span {
    display: none;
  }
}

.oculto {
  display: none !important;
}

body {
  @media screen and (min-width: $desktopBreakpoint) {
    background-color: $primaryColorWithOpacity;
    background-image: url('../images/background.svg');
    background-size: cover;
  }
}

.scroll {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  overflow-x: scroll;
  align-items: flex-end;
  justify-content: flex-start;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $primaryColorWithOpacity;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryColor;
    border-radius: 8px;
  }
}

@import './public.scss';
@import './avatar_input.scss';
@import './modal.scss';
@import './header.scss';
@import './navigation.scss';
@import './footer.scss';
@import './principal.scss';
@import './profile.scss';
@import './actionHeader.scss';
@import './meet_user_header.scss';
@import './meet_list.scss';
@import './container-meet-list-item.scss';
