@import './configs.scss';

.container-header {
  display: flex;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  border-bottom: 0.5px solid $greyColor4;

  .logo {
    width: 45%;
    max-width: 230px;
  }

  .container-navigation {
    display: none;
  }

  @media screen and (min-width: $desktopBreakpoint) {
    justify-content: space-between;
    padding: 26px 0px;

    &.hide {
      display: flex;
    }

    .logo {
      width: 15%;
      margin-left: 4%;
    }

    .container-navigation {
      margin-right: 4%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
